*, html, body{
  margin: 0;
  padding: 0;
}

.hero {
  background-color: red;
}

.hero-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  width: min(90%, 1400px);
  margin-inline: auto;
}

.hero-header .logo{
  width: 50px;
}

.hero-header .right{
  display: flex;
}

.hero-header .right ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.hero-header .right ul li{
  margin-inline: 10px;
}

.hero-header .right button{
  background: none;
  padding-inline: 25px;
  padding-block: 15px;
  border: 1px solid white;
  border-radius: 5px;
}